# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Gerenciamento de Aeroporto/nbproject/private/
/Gerenciamento de Aeroporto/build/
/Gerenciamento de Aeroporto/dist/
/Haruki/nbproject/private/
/Haruki/build/
/Controle Remoto SWING/nbproject/private/
/Controle Remoto SWING/build/